.app {
  background-image: url("./assets/wather-sun.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.cold {
  background-image: url("./assets/weather-cold.jpg");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.container .search-box {
  margin-top: 30px;
  width: 60%;
}
.container .search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: #eee;
  border-radius: 16px;
  margin-top: -25px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  transition: 0.4s ease;
}
.container .search-box .search-bar:focus {
  outline: none;
  border: none;
  box-shadow: #78a0cf 0px 5px 15px;
}

.container-weather {
  border-radius: 20px;
  margin-top: 10px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  padding: 20px 10px;
  margin: auto;
  box-shadow: rgb(85, 85, 85) 0px 3px 6px 0px;
  background: #eee;
  color: #000;
}
.container-weather .weather-info {
  display: flex;
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.container-weather .weather-info .location-box .location {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.3);
  color: #242628;
}
.container-weather .weather-info .location-box .date {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.container-weather .weather-info .location-box .temp {
  position: relative;
  display: inline-block;
  margin: 20px auto;
  background-color: #c7ede6;
  border-radius: 16px;
  padding: 15px 25px;
  color: #242628;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.3);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.container-weather .weather-info .weather-box {
  display: flex;
  width: 90%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.container-weather .weather-info .weather-box .info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.container-weather .weather-info .weather-box .info img {
  width: 120px;
  height: 120px;
}
.container-weather .weather-info .weather-box .info span {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 10px;
  text-align: center;
}
.container-weather .weather-info .weather-box .info span .text {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .container .search-box {
    width: 90%;
  }
  .container-weather {
    width: 98%;
  }
  .container-weather .weather-info .weather-box .info img {
    width: 120px;
    height: 120px;
  }
  .container-weather .weather-info .weather-box .info span {
    font-size: 20px;
    align-items: center;
    margin-left: 20px;
  }
}
@media (max-width: 450px) {
  .container-weather .weather-info .location-box .temp {
    font-size: 90px;
  }
  .container-weather .weather-info .weather-box {
    justify-content: left;
  }
  .container-weather .weather-info .weather-box .info img {
    width: 100px;
    height: 100px;
  }
  .container-weather .weather-info .weather-box .info span {
    font-size: 25px;
    align-items: center;
    margin-left: 20px;
  }
}
@media (max-width: 350px) {
  .container-weather .weather-info .location-box .temp {
    font-size: 50px !important;
  }
  .container-weather .weather-box .info img {
    width: 50px !important;
    height: 50px !important;
  }
  .container-weather .weather-box .info span {
    font-size: 18px !important;
    align-items: center;
    margin-left: 18px !important;
  }
}/*# sourceMappingURL=searchStyles.css.map */